* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.flex2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
}

.main-head {
  width: 95%;
  margin: 0 auto;
  margin-top: 0.5rem;
}

.nav {
  justify-content: space-between;
  border: 2px solid black;
  font-size: 2rem;
  padding: 0.5rem 1rem;
}

.nav ul {
  padding: 0.5rem 0;
  cursor: pointer;
  justify-content: space-between;
}

.lst li {
  padding: 1rem 2rem;
  width: 20rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nav ul li {
  padding: 0.5rem 2rem;
  border-right: 2px solid black;
}

.nav ul .no-border {
  border-right: none;
}

.main-data {
  width: 95%;
  min-height: 80vh;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  align-items: center;
}

.date {
  font-size: 2rem;
  padding: 1rem;
  align-self: flex-end;
}

.inputs {
  width: fit-content;
  padding: 1rem;
  order: 2;
  align-items: center;
}

.input-title {
  margin: 4rem 0 2rem 0;
  font-size: 3rem;
}

.title-input,
.author-input {
  width: 30rem;
  margin: 1.5rem 0;
  padding: 1rem;
  border: 2px solid black;
  font-size: 2rem;
}

.title-show,
.author-show {
  margin: 0;
  padding: 0.5rem 0;
  font-size: 1.5rem;
}

.add-btn,
.rmv-btn {
  border: 2px solid black;
  background-color: white;
  color: black;
  font-size: 1.5rem;
  padding: 0.5rem;
  width: 10rem;
  cursor: pointer;
  box-shadow: 1px 5px 4px black;
}

.add-btn {
  align-self: flex-end;
}

input::placeholder {
  font-size: 1.7rem;
}

.w-100 {
  width: 60%;
}

.lst-title {
  text-align: center;
  margin-top: 1rem;
  font-size: 3rem;
  padding: 1rem;
}

.lst {
  width: 100%;
  margin: 4rem 0 2rem 0;
  border: 2px solid black;
}

ul.lst li:nth-child(odd) {
  background: #eeee;
}

ul.lst li:nth-child(even) {
  background: #ffff;
}

/* Contact section */
.contact2 {
  margin-top: 4rem;
}

.texts {
  margin: 2rem;
}

.texts p {
  font-size: 2.5rem;
}

.contact-details {
  padding: 0 2rem;
  font-size: 2rem;
  margin-top: 1rem;
  list-style: disc;
  list-style-position: inside;
}

/* footer  */
.footer {
  width: 95%;
  border: 2px solid black;
  padding: 1.5rem 1rem;
  margin: 0 auto;
  justify-content: flex-start;
}

/* Hide classe */

.hide {
  display: none;
}
